body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background-color: #f9f9fd;
  opacity: 0.9;
  background-image: linear-gradient(135deg, #d6e5d8 25%, transparent 100%),
    linear-gradient(225deg, #d6e5d8 25%, transparent 25%),
    linear-gradient(45deg, #d6e5d8 25%, transparent 25%),
    linear-gradient(315deg, #d6e5d8 25%, #f9f9fd 25%);
  background-position: 9px 0, 9px 0, 0 0, 0 0;
  background-size: 9px 9px;
  background-repeat: repeat;
}

.login-card {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #d6e5d8;
  box-shadow: 2px 2px 10px #ccc;
}

.card-header {
  text-align: center;
  margin-bottom: 20px;
}

.card-header .log {
  margin: 0;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: black;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;
}

input[type="submit"] {
  width: 100%;
  background-color: #26643b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #a2de96;
  color: black;
}

.btn {
  color: var(--green-1);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 8px;
  font-size: 1.4rem;
  padding: 1.2rem 2rem;
}

.primary-btn {
  color: var(--white-1);
  background-color: var(--green-1);
  transition: 0.3s;
}


input[type="text"]:valid {
  border: 2px solid #26643b;
}
input[type="text"]:invalid {
  border: 2px solid rgb(251, 79, 5);
}

input[type="email"]:valid {
  border: 2px solid #26643b ;
}
input[type="email"]:invalid {
  border: 2px solid rgb(251, 79, 5);
}

input[type="password"]:valid {
  border: 2px solid #26643b;
}
input[type="password"]:invalid {
  border: 2px solid rgb(251, 79, 5);
}
